"*":
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
  "autocomplete-python":
    useKite: false
  core:
    projectHome: "/Users/tobyjoe/Projects/voltsio/"
    telemetryConsent: "no"
  editor:
    fontFamily: "inconsolata"
  "exception-reporting":
    userId: "834cdd3e-e435-1479-1d89-7ed872ebdda1"
  "linter-ui-default": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
